<section class="content-header">
    <h1>Daftar Penambahan Aktifa Tetap</h1>
    <div class="header-btn">
            <a class="btn btn-sm btn-primary" routerLink="./new">
                <span class="fa fa-plus-circle"></span> Tambah Baru
              </a>
            <button class="btn btn-sm btn-primary">
        <span class="fa fa-search"></span> Pencarian
      </button>
    </div>
  </section>
<section class="content">
<div class="box box-primary">
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th class="no">No</th>
                    <th>No. Dpat</th>
                    <th>No. BAPB</th>
                    <th>Supplier</th>
                    <th>Ka.Logistik</th>
                    <th style="width: 60px;"></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
</section>