<section class="content-header">
  <h1>Bukti Peminjaman dan Pengembalian Aktiva Tetap
    <small>{{subtitle}}</small>
  </h1>
  <div class="header-btn">
    <button class="btn btn-sm btn-default" (click)="onBtnBatalClick()">
      <span class="fa fa-close"></span> Batal
    </button>
    <button class="btn btn-sm btn-primary" (click)="onBtnKirimClick()" [disabled]="!formBppat.form.valid || totalSelected < 1">
      <span class="fa fa-send"></span> Kirim
    </button>
  </div>
</section>

<section class="content">
  <div class="row">
    <form class="form-horizontal" #formBppat="ngForm">
      <div class="col-sm-6">
        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
              <label class="control-label col-sm-4">No. BPPAT</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="noBppat" readonly required 
                       [ngModel]="bppat.noBppat" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Tanggal Peminjaman</label>
              <div class="col-sm-8">
                <my-date-picker name="tanggalPeminjaman" required
                                [ngModel]="dpTanggalPeminjaman"
                                [options]="appServ.getDpOptions()"
                                (dateChanged)="onTanggalPeminjamanChanged($event)">
                </my-date-picker>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Nama Kegiatan</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="namaKegiatan" required
                       [(ngModel)]="bppat.namaKegiatan" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Kode Kegiatan</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="kodeKegiatan" required
                       [(ngModel)]="bppat.kodeKegiatan" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Kebutuhan</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="kebutuhan" placeholder="Proyek/program/rutin/dll." required
                       [(ngModel)]="bppat.kebutuhan" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-4">Rencana Kembali</label>
              <div class="col-sm-8">
                <my-date-picker name="rencanaKembali" required
                                [ngModel]="dpRencanaKembali"
                                [options]="appServ.getDpOptions()"
                                (dateChanged)="onRencanaKembaliChanged($event)">
                </my-date-picker>
              </div>
            </div>
          </div>
          <div class="overlay" *ngIf="loadingBox1 || loadingAll">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Penanggung Jawab Aktiva Tetap (FPF Pemberi)</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label class="control-label col-sm-4">NIK</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" class="form-control" name="nikFpfPemberi" placeholder="Cari berdasarkan NIK" required
                         [ngModel]="bppat.nikFpfPemberi"
                         #nikFpfPemberi />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"
                            (click)="onBtnSearchNikClick(nikFpfPemberi.value)">
                      <span class="fa fa-search"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="bppat.nikFpfPemberi">
              <label class="control-label col-sm-4">Nama</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="namaFpfPemberi" required readonly
                       [ngModel]="bppat.namaFpfPemberi" />
              </div>
            </div>
            <div class="form-group" *ngIf="bppat.nikFpfPemberi">
              <label class="control-label col-sm-4">Unit Kerja</label>
              <div class="col-sm-8">
                <select class="form-control" name="unitKerjaPemberi" required
                        [ngModel]="bppat.unitKerjaIdPemberi"
                        (change)="onUnitKerjaPemberiChange($event.target.value)">
                  <option *ngFor="let uk of optionUnitKerjaPemberi" value="{{uk.unitKerjaId}}">
                    {{uk.namaUnitKerja}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="overlay" *ngIf="loadingBox2 || loadingAll">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="box box-primary" *ngIf="bppat.unitKerjaIdPemberi">
    <div class="box-header">
      <h3 class="box-title">Aktiva Tetap FPF Pemberi <small>(Pilih barang yang akan dipinjam)</small></h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th class="no"></th>
            <th>Nama Aktiva Tetap</th>
            <th>Merk</th>
            <th>Tipe</th>
            <th>No. Seri</th>
            <th>No. Inventaris</th>
            <th class="text-center">Kondisi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData; let i = index" (click)="onRowClick(row)" [class.info]="row.selected">
            <td>
              <input type="checkbox" name="checkbox" [checked]="row.selected" />
            </td>
            <td>{{row.namaAktivaTetap}}</td>
            <td>{{row.namaMerk}}</td>
            <td>{{row.namaTipe}}</td>
            <td>{{row.noSeri}}</td>
            <td>{{row.noInventaris}}</td>
            <td class="text-center" [innerHTML]="row.kondisi | labelkondisi"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box-footer">
      Total terpilih : {{totalSelected}}
      <pagination [totalRows]="allAtData.length" (offset)="onPaginationClick($event)">Pagination</pagination>
    </div>
    <div class="overlay" *ngIf="loadingBox3 || loadingAll">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</section>
